shadow($color, $x, $y, $blur)
  -webkit-box-shadow: color $x $y $blur
  -moz-box-shadow: $color $x $y $blur
  box-shadow: $color $x $y $blur

innerShadow($color, $x, $y, $blur)
  box-shadow: inset $color $x $y $blurpx
  -moz-box-shadow: inset $color $x $y $blurpx
  -webkit-box-shadow: inset $color $x $y $blur

gradient($top, $bottom)
  background-image: $top
  background-image: -moz-linear-gradient(top, $top, $bottom)
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $top),color-stop(1, $bottom))

roundall($round)
  -moz-border-radius: $round
  -webkit-border-radius: $round
  -khtml-border-radius: $round
  -o-border-radius: $round
  -border-radius: $round
  border-radius: $round
