// Colors

$blue = #12acef
$blue-light = lighten($blue, 50%)
$blue-lighter = lighten($blue, 90%)

$gray-darker = #272b2d
$gray-dark = #4d5659
$gray = #828c8f
$gray-light = #b7c0c3
$gray-lighter = #e6eaed

$pink = #ec008c
$pink-light = #fec1d1
$pink-lighter = #ffedf2