// Colors

$blue-saturated-darker = #001620
$blue-saturated-dark = #002531
$blue-saturated = #003546
$blue-saturated-light = #1f4753
$blue-saturated-lighter = #438193

$blue = #12acef
$blue-light = lighten($blue, 50%)
$blue-lighter = lighten($blue, 90%)

$gray-darker = #272b2d
$gray-dark = #4d5659
$gray = #828c8f
$gray-light = #b7c0c3
$gray-lighter = #e6eaed

$pink = #ec008c
$pink-light = #fec1d1
$pink-lighter = #ffedf2