/*!
* Messages
*/

.message
  &.kickstarter-flag
    padding: 10px
    position: relative
    background-color: $blue-lighter
    font-size: 15px
    text-align: center
    color: $blue

    a
      font-weight: bold