*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: #b7c0c3;
  font-weight: 200;
}
:-moz-placeholder {
  color: #b7c0c3;
  font-weight: 200;
}
::-moz-selection {
  background-color: #88d5f7;
  color: #fff;
}
::selection {
  background-color: #88d5f7;
  color: #fff;
}
html {
  font-size: 100%;
}
body {
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #272b2d;
  line-height: 1.5;
  background: url("http://andyet.com/images/header.png") top center no-repeat;
}
h1,
h2,
h3,
strong {
  font-weight: 700;
}
h1,
h2,
h3 {
  color: #000;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.25em;
}
h2,
h3 {
  line-height: 1.2;
}
.logo {
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}
.logo span:first-of-type {
  color: #ec008c;
}
.logo span:last-of-type {
  color: #12acef;
}
pre {
  background-color: #333;
  color: #fff;
  padding: 15px;
  font-size: 12px;
  margin: 5px 0 40px 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #ccc;
  line-height: 140%;
}
