@import _define

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box

::-webkit-input-placeholder
  color: #aaa
  font-weight: 200

:-moz-placeholder
  color: #aaa
  font-weight: 200

::-moz-placeholder 
  color: #aaa
  font-weight: 200

body
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: 400
  background: url(http://andyet.com/images/header.png)
  background-position: top center
  background-repeat: no-repeat

h1, h2, h3, strong
  font-weight: 700

.wrap
  width: 700px
  margin: 150px auto

// section > div
//   width: 460px
//   float: left

// .intro
//   margin-right: 40px

#logo
  width: 436px
  height: 71px
  text-indent: -9999em
  display: block
  margin: 0 auto
  background: url(/img/simplewebrtc.png)

h2
  font-weight: 200
  color: #333
  font-size: 30px
  text-align: center
  margin: 20px 0 40px 0

  svg
    position: relative
    top: 12px
    margin-right: 5px
    fill: #aaa

h4
  font-size: 20px
  margin: 0px 0 40px 0
  font-weight: normal

h3
  font-size: 20px
  margin: 0px 0 10px 0

.active
  background: none 
  .wrap
    position: static
    top: auto

  .desc
    display: none

  h2 
    margin: 0
    line-height: 1

    svg
      // green fill: #72B14D  
      fill: #12ACEF

  #logo
    width: 76px
    margin: 0 auto
    position: fixed
    left: 20px
    top: 20px

  section
    padding: 0

  h3
    display: block
    font-size: 13px
    font-weight: normal
    margin: 10px 0 0 0
    text-align: center
    color: #aaa

    svg
      position: relative
      top: 3px
      fill: #aaa

a:link, a:visited
  color: #12ACEF

.desc
  text-align: center
  font-size: 18px
  margin-top: 0
  margin-bottom: 40px
  color: #aaa
  font-weight: 200

footer
  text-align: center
  color: #777
  font-size: 14px
  position: fixed
  bottom: 10px
  margin: 0
  left: 50%
  width: 500px
  margin-left: -250px

section
  margin: 0 auto

button
  display: inline-block
  width: auto
  padding: 10px
  gradient(#efefef,#eee)
  min-width: 100px
  padding: 10px 15px 8px 15px
  font-weight: bold
  roundall(50px)
  border: 2px solid #f7f7f7
  color: #777
  text-shadow: #fff 0 1px 0
  shadow(rgba(0,0,0,.3), 0, 1px, 2px)
  position: relative
  top: -2px

a#ad:link, a#ad:visited
  color: #555
  text-decoration: none
  font-weight: 300
  font-size: 16px
  border-top: 1px solid #f0f0f0
  background-color: #fafafa
  width: 100%
  position: fixed
  left: 0
  right: 0
  bottom: 0
  padding: 0px
  line-height: 2.5
  text-align: left
  height: 40px
  &:before
    content: ""
    display: inline-block
    float: left
    background-image: url(https://next.andbang.com/images/AndBangHeader.png)
    width: 35px
    height: 35px
    background-size: 40px
    background-repeat: no-repeat
    margin-right: 10px

#andyet
  position: fixed
  bottom: 10px
  right: 10px
  z-index: 100

pre
  background-color: #333
  // background-image: url(images/noise.png)
  color: #fff
  padding: 15px
  font-size: 12px
  margin: 5px 0 40px 0
  border-top: 1px solid #333
  border-bottom: 1px solid #ccc
  line-height: 140%