/*
* Base
*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-moz-selection {
  background-color: #88d5f7;
  color: #fff;
}
::selection {
  background-color: #88d5f7;
  color: #fff;
}
html {
  font-size: 100%;
}
body {
  margin: 0;
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #272b2d;
  line-height: 1.5;
  background: url("http://andyet.com/images/header.png") top center no-repeat;
}
h1,
h2,
h3,
strong {
  font-weight: 700;
}
h1,
h2,
h3 {
  color: #000;
}
h1 {
  margin: 0;
  font-size: 3em;
}
h2 {
  margin: 1.875em 0;
  font-size: 1.75em;
  text-align: center;
}
h3 {
  margin: 1.5em 0;
  font-size: 1.25em;
}
h2,
h3 {
  line-height: 1.2;
}
p {
  margin-bottom: 1.25em;
}
a {
  color: #12acef;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #0d8ac1;
}
ul {
  margin: 0 0 0 1.875em;
  padding: 0;
}
ul li {
  list-style-type: disc;
  padding: 0.625em 0;
}
ul li:last-child {
  padding-bottom: 0;
}
.logo {
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}
.logo span:first-of-type {
  color: #ec008c;
}
.logo span:last-of-type {
  color: #12acef;
}
.content {
  margin: 10em auto 0;
}
section {
  padding-bottom: 1.875em;
  margin-bottom: 1.875em;
  border-bottom: 1px solid #e6eaed;
}
footer {
  padding-bottom: 1.875em;
}
footer a {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjE4IiBoZWlnaHQ9IjExOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+PHRpdGxlPmFuZHlldC1sb2dvPC90aXRsZT48ZyBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiBmaWxsPSJub25lIj48cGF0aCBkPSJNMzUuNzY2IDM3LjkxN2wxNC44NDMgMTcuOTQxLjQ4LS41MzVjMS42MDEtMS43NDIgMy4xMTctMy40NDcgNC41MzktNS4xMjUgMS40MjYtMS42NjkgNS4wNzgtNS42NDQgNi4zOTUtNy4zNTFsNS44MzcgMTAuNjFjLS45OTkgMS40MjQtMi4zMDggMy4wNzktMy45MyA0Ljk2Ni0xLjYxNiAxLjg4OS0zLjU0OCA0LjA1OC01Ljc5MyA2LjUxM2wxNS4yNzYgMTguODUyaC0xNS40ODVsLTguMjI1LTEwLjA5MmMtNy41NSA3Ljc5OC0xNS4zOTcgMTEuNjk0LTIzLjU0NiAxMS42OTQtNy4zMDMgMC0xMy40OTctMi4zMjgtMTguNTg2LTYuOTk4LTQuOTg1LTQuNjk2LTcuNDc2LTEwLjQ5OS03LjQ3Ni0xNy40MDUgMC04LjIyNSAzLjk0OS0xNS4wNTkgMTEuODU0LTIwLjUwN2w1LjM5NC0zLjY4NGMuMDcyLS4wMzQuMTk2LS4xMjUuMzcyLS4yN2wuNzQ3LS41ODNjLTUuNDQ0LTUuODA1LTguMTY5LTExLjUxNy04LjE2OS0xNy4xNDUgMC01LjU1NCAxLjgxOC0xMC4wNzUgNS40NDctMTMuNTYyIDMuNzAzLTMuNDg5IDguNDc2LTUuMjM1IDE0LjMxMS01LjIzNSA1LjY2NCAwIDEwLjM0MiAxLjY4OSAxNC4wNDQgNS4wNzIgMy43MDIgMy4zODggNS41NTQgNy42NTUgNS41NTQgMTIuODE2IDAgMy41Ni0xLjAxMyA2Ljc4NS0zLjA0NCA5LjY2Ny0xLjk5NCAyLjg4Ny01LjYwOCA2LjMzNy0xMC44MzkgMTAuMzYxem0tOS44OCA2Ljk5NmwtLjY5NS40ODFjLTUuMDkxIDMuNTI2LTguNTYzIDYuMzU0LTEwLjQxMiA4LjQ4Ni0xLjgxNiAyLjEzOS0yLjcyMiA0LjQwMi0yLjcyMiA2Ljc4NSAwIDMuNDE5IDEuMzcgNi41NTIgNC4xMSA5LjM5NiAyLjg0NiAyLjc0MyA1Ljk3OSA0LjExMiA5LjQwMSA0LjExMiA0LjgwMyAwIDEwLjM0Mi0zLjE0OCAxNi42MDQtOS40NDhsLTE2LjI4Ni0xOS44MTJ6bTIuNjcyLTE1Ljc1M2wxLjAxMy0uNzVjMS43NDUtMS4zMSAzLjE4Ny0yLjQ2MyA0LjMyNi0zLjQ0IDEuMTM3LS45OCAxLjk2LTEuODA4IDIuNDU4LTIuNDg2IDEuMDY2LTEuMzEzIDEuNjAxLTIuOTM3IDEuNjAxLTQuODU2IDAtMi4xNzMtLjczLTMuOTMzLTIuMTg5LTUuMjktMS40Ni0xLjM1MS0zLjQyLTIuMDMtNS44NzYtMi4wMy0yLjI0MiAwLTQuMTI3LjY5Ni01LjY2IDIuMDgzLTEuNTI5IDEuMzItMi4yOTggMy4wMDktMi4yOTggNS4wNzUgMCAyLjQyMi45NjMgNC44MDUgMi44ODYgNy4xNTdsMy4wOTUgMy43MzdjLjEwOC4xNzcuMzIyLjQ0Ny42NDQuOHptMCAwIiBpZD0iU2hhcGUiIGZpbGw9IiNFQjNCOTUiLz48cGF0aCBkPSJNNTUuNjc4IDI3LjY2NmMyLjkxNS4yOTQgNS42MTguNDYyIDguMDk0LjUxIDIuNDgyLjA1NCA1LjIzNC4wNzYgOC4yNDkuMDc2IDIuOTEgMCA1Ljg3OS0uMDIyIDguODk1LS4wNzYgMy4wMTUtLjA0OCA1Ljk4My0uMjE2IDguODk4LS41MXYxLjc1Yy0yLjEzNy4xOTYtNC4xNzcuODMxLTYuMTI2IDEuODk4LTEuOTQgMS4wNzItMi45MTQgMi44MjQtMi45MTQgNS4yNTEgMCAxLjk0OC42MjcgNC41NTIgMS44OTcgNy44MDYgMS4yNiAzLjI2MyAyLjc0IDYuNzYyIDQuNDQ2IDEwLjUwNCAxLjcwMSAzLjc0OSAzLjQ1NiA3LjU2NSA1LjI1MSAxMS40NTUgMS43OTggMy44OTIgMy4yMzQgNy40OSA0LjMwMiAxMC43OTcuNDktLjk3NCAxLjI0NC0yLjU3OCAyLjI2NC00LjgxNyAxLjAyMi0yLjIzOCAyLjE4OS00Ljc5MiAzLjUtNy42NTcgMS4zMTItMi44NjUgMi42MzItNS44NjEgMy45MzktOC45NyAxLjMxNy0zLjExMyAyLjUzLTYuMDMgMy42NTQtOC43NTUgMS4xMTMtMi43MjcgMi4wMzctNS4xMDQgMi43NjQtNy4xNDcuNzM3LTIuMDQ2IDEuMTAxLTMuNDA2IDEuMTAxLTQuMDg5IDAtMS4xNjUtLjI2OS0yLjA5MS0uODAzLTIuNzcxLS41MzYtLjY4MS0xLjE5LTEuMjQxLTEuOTczLTEuNjgyLS43OC0uNDMtMS43MDEtLjc3MS0yLjc3My0xLjAxOS0xLjA2Ny0uMjM5LTIuMDk3LS41MDgtMy4wNjEtLjgwM3YtMS43NWMyLjIzMi4yOTQgNC40NzUuNDYyIDYuNzA4LjUxIDIuMjM3LjA1NCA0LjUyMy4wNzYgNi44Ni4wNzYgMi4yMzEgMCA0LjQyOS0uMDIyIDYuNTY3LS4wNzYgMi4xMzMtLjA0OCA0LjMyNC0uMjE2IDYuNTYyLS41MXYxLjc1Yy0yLjcyMy4zOTItNS4zNzQgMi4wNjgtNy45NTIgNS4wMzEtMi41NzUgMi45NzEtNC45NTIgNi4zNTItNy4xNDEgMTAuMTQ2LTIuMTk0IDMuNzkyLTQuMTIxIDcuNTEzLTUuNzcxIDExLjE1NS0xLjY1MSAzLjY0OS0yLjkxNiA2LjM1MS0zLjc5NCA4LjEwNC00LjA3NyA4LjQ1Ni03Ljc4MSAxNS43MDQtMTEuMDg3IDIxLjczNC0zLjMwOCA2LjAzMi02LjMwMSAxMS4wNjctOC45NzIgMTUuMS0yLjY3NyA0LjA0MS01LjExIDcuMjI3LTcuMjk0IDkuNTU5LTIuMTg3IDIuMzQtNC4yODEgNC4xMDktNi4yNzcgNS4zMjQtMS45OTMgMS4yMTgtMy45MzggMS45OTItNS44MjkgMi4zMzgtMS44OTYuMzM4LTMuODY4LjUwOS01LjkxNS41MDktMS43NSAwLTMuNDczLS4yNDctNS4xNzYtLjczMS0xLjcwMS0uNDg2LTMuMjEzLTEuMjM5LTQuNTItMi4yNTgtMS4zMTgtMS4wMjQtMi4zOS0yLjMxNS0zLjIxOS0zLjg2OC0uODE5LTEuNTY0LTEuMjM1LTMuNDA0LTEuMjM1LTUuNTQ1IDAtMS45NDYuNzA0LTMuNjk0IDIuMTA5LTUuMjUgMS40MTYtMS41NTcgMy4wOS0yLjMzOCA1LjA0Mi0yLjMzOCAyLjIzNiAwIDQuMDI5LjU2IDUuMzk2IDEuNjgxIDEuMzYyIDEuMTE0IDIuMDM4IDIuODQyIDIuMDM4IDUuMTggMCAxLjY0OS0uMzkgMy4wMzctMS4xNjcgNC4xNTctLjc3NSAxLjExNS0xLjE2NCAxLjkxOS0xLjE2NCAyLjQwNiAwIC41ODUuNzA1Ljk0OCAyLjExOCAxLjA5NyAxLjQwOC4xNDMgMi43OTEuMjE1IDQuMTU5LjIxNSAyLjkxMiAwIDUuNzg1LTEuMTkyIDguNjAxLTMuNTc1IDIuODIxLTIuMzggNS4zMjQtNS4xMDQgNy41MTItOC4xNjQgMi4xOTUtMy4wNjYgMy45NjctNS45ODkgNS4zMzItOC43NTUgMS4zNjUtMi43NzEgMi4wNC00LjU1MSAyLjA0LTUuMzI4IDAtLjI5My0uMzQtMS4yOTItMS4wMTctMi45OTEtLjY4Ny0xLjctMS42MDgtMy44ODgtMi43Ny02LjU3LTEuMTczLTIuNjcxLTIuNDg2LTUuNjU1LTMuOTQ0LTguOTY3LTEuNDU3LTMuMzEtMi45MTUtNi41OTEtNC4zNzEtOS44NDktMS40NjEtMy4yNTgtMi45MjEtNi40Mi00LjM4Ny05LjQ4NC0xLjQ1NC0zLjA2Mi0yLjcxOC01LjY2Ni0zLjc5MS03LjgwNC0uOTctMi4yMzEtMS43OTktNC4wMzctMi40NzktNS40MDEtLjY4Mi0xLjM2MS0xLjUwOS0yLjQ1NS0yLjQ3Ni0zLjI4Mi0uOTcyLS44MjUtMi4xNDQtMS40ODEtMy41MDMtMS45NjktMS4zNjQtLjQ4NS0zLjE2NS0xLjAxOS01LjM5OC0xLjYwNnYtMS43NTJoLjAwMXptMCAwIiBpZD0iU2hhcGUiIGZpbGw9IiMxMUJBRUUiLz48cGF0aCBkPSJNMTM1LjY3OSA1MS4yOTljMCA1LjA2Mi42NiA5LjI0MiAxLjk2MSAxMi41NTQgMS4zMjUgMy4zMDMgMi45NzQgNS45MzIgNC45NzYgNy44NzMgMS45ODggMS45NSA0LjEyMyAzLjMxMSA2LjQxMiA0LjA4NSAyLjI4Ny43OCAxNC4xMzQuNTEzIDE3LjQzMS0uNzk5IDMuMzExLTEuMzEyIDYuMzc1LTMuMzgyIDkuMi02LjIwMWwyLjQ3NiAyLjMzNGMtMy45ODQgNC4yOC04LjA3MyA3LjUzOC0xMi4yNTQgOS43NzQtNC4xODMgMi4yMzYtOS4xOTIgMy4zNTctMTUuMDI4IDMuMzU3LTQuMTg4IDAtNy45MjktLjgyOC0xMS4yMzctMi40ODMtMy4zMDgtMS42NDgtNi4xMjYtMy44NC04LjQ2Mi02LjU2Ni0yLjMzMS0yLjcyLTQuMTA0LTUuODM3LTUuMzIzLTkuMzM3LTEuMjItMy40OTctMS44MjMtNy4xLTEuODIzLTEwLjc5NyAwLTMuNjkzLjYwNC03LjI5NSAxLjgyMy0xMC43OTMgMS4yMTktMy41MDIgMi45OTItNi42MTUgNS4zMjMtOS4zMzcgMi4zMzYtMi43MjUgNS4xNTQtNC45MTMgOC40NjItNi41NjggMy4zMDktMS42NTEgNy4wNDktMi40ODIgMTEuMjM3LTIuNDgyIDcuNjggMCAxMy44NjMgMi4wOTEgMTguNTM2IDYuMjc1IDQuNjYzIDQuMTg2IDcuNTI2IDEwLjU1NyA4LjYwMSAxOS4xMTFoLTQyLjMxMXptMjguNDU2LTQuMzcyYy0uMzAxLTIuNjI3LS42ODgtNC45ODQtMS4xNzUtNy4wNzgtLjQ4NC0yLjA5Mi0xLjI2My0zLjgzOS0yLjMyNy01LjI1LTEuMDgyLTEuNDExLTIuNDkyLTIuNDgtNC4yMzMtMy4yMDktMS43NTctLjczMi0zLjk5MS0xLjA5OS02LjcxMy0xLjA5OS0yLjAzOCAwLTMuOTE4LjUxNy01LjYxOCAxLjUzNS0xLjcwNiAxLjAxOC0zLjE2IDIuMzMzLTQuMzc3IDMuOTM4LTEuMjE4IDEuNjA2LTIuMTQ2IDMuNDA0LTIuNzc3IDUuMzk5LS42MzMgMS45OTUtLjk0NCAzLjkxNy0uOTQ0IDUuNzY0aDI4LjE2NHptMCAwIiBmaWxsPSIjMTFCQUVFIi8+PHBhdGggZD0iTTE3My45NiAzMi43NzN2LTIuMzM1YzMuMTExLS4wOTQgNS43ODQtLjg3MiA4LjAzMS0yLjMzMyAyLjIzOC0xLjQ2IDQuMTczLTMuMzA4IDUuODI5LTUuNTQ1IDEuNjU4LTIuMjM2IDMuMDM4LTQuNzE3IDQuMTU5LTcuNDQxIDEuMTE2LTIuNzIgMi4xMTUtNS4zNDUgMi45OTUtNy44NzdoMi4wMzR2MjEuMTUzaDE5Ljk5MnY0LjM3OGgtMTkuOTkxdjMzLjk5MmMwIDEuMjY3LjA4IDIuNTA2LjIyNiAzLjcyMy4xNDIgMS4yMTcuNDM2IDIuMzEyLjg3MiAzLjI4Mi40MzguOTcyIDEuMDY4IDEuNzUzIDEuODk2IDIuMzM0LjgyOS41ODYgMS45NzMuODc4IDMuNDMxLjg3OCAyLjkyMSAwIDUuMzUzLS42MzMgNy4yOTEtMS44OTUgMS45NTEtMS4yNjggMy44OTEtMi44NjkgNS44NDYtNC44MmwxLjMxMSAxLjQ1OWMtMS42NiAxLjQ2MS0zLjI2NiAyLjk0Ni00LjgxNCA0LjQ0Ny0xLjU2IDEuNTE2LTMuMTg5IDIuODc2LTQuODgzIDQuMDkxLTEuNzA3IDEuMjE3LTMuNTU1IDIuMTg3LTUuNTUgMi45MTMtMi4wMDIuNzMyLTQuMTU3IDEuMS02LjQ5NyAxLjEtNC4wODcgMC02Ljg1Ni0xLjI0Mi04LjMxNS0zLjcyMi0xLjQ2Mi0yLjQ4Mi0yLjE5Mi01LjQyNC0yLjE5Mi04LjgyOXYtMzguOTUzaC0xMS42NzF6bTAgMCIgZmlsbD0iIzExQkFFRSIvPjwvZz48L3N2Zz4=");
}
@media screen and (max-width: 31.25em) {
  h1 {
    font-size: 2.2em;
  }
}
@media screen and (max-width: 48em) {
  .content {
    width: 90%;
  }
}
@media screen and (min-width: 48.0625em) {
  .content {
    width: 60%;
  }
}
@media screen and (min-width: 68.75em) {
  .content {
    width: 45%;
  }
}
/*
* Buttons
*/
a.button {
  border: none;
  display: inline-block;
  border-radius: 3px;
  padding: 10px 15px;
  background-color: #12acef;
  font-size: inherit;
  font-weight: 700;
  text-align: center;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}
a.button:hover {
  color: #fff;
  background-color: #59c5f4;
}
a.button:focus {
  outline: none;
}
.github-fork {
  position: absolute;
  top: 100%;
  right: 0;
  overflow: hidden;
  width: 20em;
  height: 11.6em;
}
.github-fork .button {
  display: block;
  border-radius: 0;
  height: 2.5em;
  -webkit-transform: translate(50%, -50%) rotate(45deg) translate(0, 7em);
  z-index: 2;
}
/*
* Messages
*/
.message.kickstarter-flag {
  padding: 10px;
  position: relative;
  background-color: #e7f7fd;
  font-size: 15px;
  text-align: center;
  color: #12acef;
}
.message.kickstarter-flag a {
  font-weight: bold;
}
pre {
  margin: 0;
  white-space: pre-wrap;
}
pre code {
  border-radius: 3px;
  padding: 1.25em;
  overflow: hidden;
  display: block;
  font-size: 0.875em;
  color: #b7c0c3;
  background: #002531;
  font-family: Menlo, Monaco, Consolas, monospace;
}
.hljs-comment,
.hljs-template_comment,
.hljs-diff .header,
.hljs-javadoc {
  color: #67777c;
}
.hljs-keyword,
.hljs-css .rule .keyword,
.hljs-at_rule,
.hljs-winutils,
.hljs-javascript .title,
.hljs-nginx .title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #438193;
}
.hljs-string,
.hljs-tag .value,
.hljs-phpdoc,
.hljs-tex .formula {
  color: #d4007e;
}
.hljs-title,
.hljs-coffeescript .params,
.hljs-scss .preprocessor {
  color: #71adbe;
  font-weight: bold;
}
.hljs-class .title,
.hljs-haskell .type,
.vhdl .literal,
.hljs-tex .command,
.hljs-tag,
.hljs-tag .title,
.hljs-rules .property,
.hljs-django .tag .keyword,
.hljs-built_in,
.hljs-lisp .title,
.hljs-clojure .built_in {
  color: #fff;
}
.hljs-attribute,
.hljs-variable,
.hljs-lisp .body,
.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #bec6c9;
}
.hljs-regexp,
.hljs-addition {
  color: $green;
}
.hljs-symbol,
.hljs-ruby .symbol .string,
.hljs-lisp .keyword,
.hljs-tex .special,
.hljs-prompt,
.hljs-deletion {
  color: #a50062;
}
.hljs-diff .change {
  background: $orange;
}
