/*--------------------------------------------------------------------
*
* Buttons
*
--------------------------------------------------------------------*/

.button
  border-radius: 50px
  text-transform: uppercase
  font-size: $font-base 