/*--------------------------------------------------------------------
* &yet Dark Theme 
* by Karolina Szczur (http://github.com/thefoxis)
--------------------------------------------------------------------*/
pre
  color: $gray-light
  background: $blue-saturated-dark

  code
    font-size: $font-base

.hljs-comment
  color: darken($gray-light, 40%)

.hljs-keyword
  color: $blue-saturated-lighter

.hljs-string
  color: darken($pink, 10%)

.hljs-name
  color: lighten($blue-saturated-lighter, 30%)
  font-weight: bold

.hljs-tag
  color: white

.hljs-meta, .hljs-attr
  color: lighten($gray-light, 10%)