/*--------------------------------------------------------------------
*
* Header
*
--------------------------------------------------------------------*/

header
  padding: 0 0 $ui-padding-extra-spaced 0

  h1
    margin-bottom: $ui-padding-default

  h4
    color: $gray-dark
    font-weight: $font-weight-regular

@media screen and (max-width: $breakpoint-mid-mobile)
  header
    text-align: center