/*--------------------------------------------------------------------
*
* Lists
*
--------------------------------------------------------------------*/

.arrowed-list
  padding: 0

  li
    list-style: none 
    background: url('../images/arrow-list-icon.svg') 0 0 no-repeat
    background-position: 0 2px
    margin-bottom: $ui-padding-extra-spaced
    padding-left: $ui-padding-extra-spaced