/*--------------------------------------------------------------------
*
* Logos
*
--------------------------------------------------------------------*/

.logo-wrapper
  display: flex
  justify-content: center 
  align-items: center
  margin-bottom: $ui-padding-extra-spaced

  span
    display: block
    margin: 0 $ui-padding-spaced

.logo
  height: 80px