/*--------------------------------------------------------------------
*
* Navigation
*
--------------------------------------------------------------------*/

.nav
  text-transform: uppercase
  font-weight: 700
  width: 100%
  text-align: right
  margin-bottom: $spacing-base

  li
    padding: 0 $spacing-mobile

  @media screen and (max-width: $breakpoint-tablet)
    text-align: center
