/*--------------------------------------------------------------------
*
* Notification
*
--------------------------------------------------------------------*/

.message
  margin-bottom: $ui-padding-extra-spaced * 3
  padding: $spacing-s $spacing-m $spacing-s 90px
  background-image: url('../images/notification-icon.svg')
  background-repeat: no-repeat
  background-position: 30px center
  background-size: 34px 30px

  p
    margin: 0

  @media screen and (max-width: $breakpoint-tablet)
    padding-left: $spacing-m
    background-image: none
    margin-bottom: $ui-padding-extra-spaced
    font-size: 14px