/*--------------------------------------------------------------------
*
* Sections
*
--------------------------------------------------------------------*/

section 
  max-width: 700px
  margin: $ui-padding-extra-spaced*3 auto

  h2, h3
    text-align: center