/*--------------------------------------------------------------------
*
* Sections
*
--------------------------------------------------------------------*/

section 
  max-width: 680px
  margin: 0 auto
  padding: $spacing-base 0

  @media screen and (max-width: $breakpoint-tablet)
    padding: $spacing-mobile 0

  h2, h3
    text-align: center

  p:last-of-type
    margin: 0

.section-wrapper-dark
  background-color: #165773
  text-align: center
  
  h3, p, strong 
    color: white
  
  .button
    margin-bottom: $spacing-base

.section-wrapper-light
  background-color: $blue-lighter