/*--------------------------------------------------------------------
*
* Typography
*
--------------------------------------------------------------------*/

body,
h1, h2, h3, h4
  font-family: $font-gotham
  font-smooth: auto
  -webkit-font-smoothing: antialiased

h1, h2, h3, h4, p
  margin-bottom: $spacing-base

h1, h2, h3, h4
  font-weight: 700
  line-height: 1.2

h1
  font-size: 36px

h2
  font-size: 30px

h3
  font-size: 24px

h4
  font-size: 18px
  margin-bottom: $spacing-s

@media screen and (max-width: $breakpoint-tablet)

  h1
    font-size: 26px

  h2
    font-size: 22px

  h3
    font-size: 18px

  h4
    font-size: 16px