/*--------------------------------------------------------------------
*
* Typography
*
--------------------------------------------------------------------*/

body,
h1, h2, h3, h4
  font-family: $font-gotham
  font-smooth: auto
  -webkit-font-smoothing: antialiased

h1, h2, h3, h4
  font-weight: 700
  line-height: 1.2