doctype html
//- include humans.txt.html
html.no-js(lang='en')

  //- Variable block for page-specific info
  block vars

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='viewport',content='width=device-width,initial-scale=1.0,maximum-scale=1.0')
    meta(name='description', content=pageDescription)
    meta(name='keywords', content='')
    meta(name='author', content='&yet')
    title
      block title

    link(rel='shortcut icon', href='')
    link(rel='stylesheet', href='/css/main.css')
    
    script(src='//use.typekit.net/cjm3tbc.js')
    script.
      try{Typekit.load({async:true});}catch(e){}
    script.
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');

      _gs('GSN-759705-R');

  body(class=bodyClass)

    block content

    