doctype html
html.no-js(lang='en')

  //- Variable block for page-specific info
  block vars

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='viewport',content='width=device-width,initial-scale=1.0,maximum-scale=1.0')
    meta(name='description', content=pageDescription)
    meta(name='keywords', content='WebRTC, React, API, SimpleWebRTC, Talky, Talky.io, library, JavaScript, Node.js')
    meta(name='author', content='&yet')
    title
      block title

    link(rel='shortcut icon', href='')
    link(rel='stylesheet', href='/css/main.css')
    link(rel="stylesheet" type='text/css' href='https://cloud.typography.com/7773252/6285992/css/fonts.css')

  body(class=bodyClass)
    
    block content

  script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js')
  script.
    hljs.initHighlightingOnLoad();

    