extends _layout.pug

block vars
  - var pageDescription = 'SimpleWebRTC'
  - var bodyClass = 'page-audio'
  - var headerClass = 'audio'

block title
  | Audio Example SimpleWebRTC

block content

  include includes/header

  .container

    section
      h2 Use Edge's ORTC API and the WebRTC APIs in Chrome and Firefox to make cross-browser conference calls

      #requirements
      p
        | To use this demo, you'll need the most recent version of the Edge browser, Chrome or Firefox , and a microphone attached to your Windows 10 device.
      #supportWarning.block-note--error
        p
          | Warning - Your browser does not support the ORTC or WebRTC APIs. Please switch to a PC with a recent version of Windows 10 and try again.
      #microphoneWarning.block-note--error
        p
          | Error - we can't find a microphone attached to your PC. Please switch to a PC with a microphone attached and try again.
      #roomContainer.cf
        h4#subtitle
        form#createRoom
          button.button(disabled='', type='submit') Create conference
        .peerContainer.local
          .local-details
            input#nickInput(placeholder='Add your name')
            audio#localAudio(controls='', oncontextmenu='return false;', disabled='')
            img#snapshot.avatar(src='img/avatar-default.png')
            video#snapshotvideo.avatar
            #countdown
            // add class of 'muted' when so
            a.button.button-small.button-mute Mute
          .local-controls
            button#snapshotButton.button.button-small Take a snapshot
      #remotes

      h3 How it works
      p Create a conference and share the link with people you would like to join, e.g. by sending them the link via chat or email. You can share the link with a small number of people, this is not limited to 1:1 calls.
      p Add your name and a snapshot to make it easy to recognize you.

      h3 Behind the scenes
      p This demo is based on a library called SimpleWebRTC. It hides the complexity of the WebRTC and ORTC APIs behind a nice Javascript API, allowing developers to concentrate on adding VoIP functionality as a feature in their application.
      p First, SimpleWebRTC requests access to your microphone by calling <a href='https://blogs.windows.com/msedgedev/2015/05/13/announcing-media-capture-functionality-in-microsoft-edge/'>getUserMedia()</a>, which returns a MediaStreamTrack object. Then, SimpleWebRTC joins a room on the server and establishes a Peer-to-Peer connection with other people at the same URL. In Chrome and Firefox, the <a href='https://www.w3.org/TR/webrtc/'>WebRTC PeerConnection API</a> is used. In Microsoft Edge, this API is shimmed using the lower-level <a href='https://blogs.windows.com/msedgedev/2015/09/18/ortc-api-is-now-available-in-microsoft-edge/'>ORTC APIs</a>. All three browsers should be able to talk to each other this way.
      p The ORTC shim used is part of <a href='https://github.com/webrtc/adapter'>adapter.js</a>.
      p Microsoft Edge also allows interoperable video chats using SimpleWebRTC. Checkout the <a href='/video'>video page</a>.
      p To find more about &yet and SimpleWebRTC, visit <a href='https://andyet.com/realtime'>www.andyet.com</a> and <a href='https://simplewebrtc.com/'>simplewebrtc.com.</a>

  include includes/footer

  script.
    if (window.self !== window.top) {
        parent.postMessage(document.body.scrollHeight, 'https://developer.microsoft.com');
    }
  script(src='audio.js')
  script(src='latest-v2.js')
