extends _layout.pug

block vars
  - var pageDescription = 'Leadershippy is an &yet project for people first people'
  - var bodyClass = 'page-home'
  - var headerClass = 'home'

block title
  | Leadershippy

block content

  p testing
