/*--------------------------------------------------------------------
*
* Global variables
*
--------------------------------------------------------------------*/

$spacing-base = 40px
$spacing-s = 10px

$spacing-mobile = $spacing-base/2

$font-gotham = "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif