/*--------------------------------------------------------------------
*
* Global variables
*
--------------------------------------------------------------------*/

$spacing-unit = 15px

$spacing-s = $spacing-unit
$spacing-m = $spacing-unit * 2
$spacing-l = $spacing-unit * 3
$spacing-xl = $spacing-unit * 4

$font-gotham = "Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif