header(role='banner')

  .message.message-success
    p Introducing a new, powerful version of SimpleWebRTC.
    p If you are looking for the 2013 edition of SimpleWebRTC, it has been deprecated and <a href="https://github.com/andyet/SimpleWebRTC">remains available as unsupported Open Source software</a>.

  .container
    .grid-flex-container

      .grid-flex-cell-1of3
        img(src='../images/simplewebrtc-logo.svg' title='SimpleWebRTC logo' alt='SimpleWebRTC logo')

      .grid-flex-cell

        h1 React components for realtime. 
        h4 All of the awesome. None of the painful.