header(role='banner')

  .message.message-success
    .container
      p If you are looking for the 2013 edition of SimpleWebRTC, it has been deprecated and <a href="https://github.com/andyet/SimpleWebRTC">remains available as unsupported Open Source software</a>.

  .container
    nav(role='navigation' class='nav')
      ul.list-unstyled.list-inline.cf
        li: a(href='#pricing') Pricing
        li: a.button.button-primary.button-large Try now

  .container
        
      img(src='../images/simplewebrtc-logo.svg' title='SimpleWebRTC logo' alt='SimpleWebRTC logo' class='swrtc-logo')

      .tagline-wrapper
        h1 React components for realtime. 
        h4 All of the awesome. None of the painful.